* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display";
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    color: #474747;
    font-family: "Playfair Display";
    font-size: 42.667px;
    font-style: italic;
    font-weight: 600;
    line-height: 29.333px; /* 68.75% */
    letter-spacing: -0.4px;font-size: 1.8rem;
    color: #333;
}


nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav li {
    padding: 10px 14px;
    border-radius: 34px;
}

nav li:hover{
    background: #AD343E;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
}




/* Footer */
.footer {
    background-color: #3a3a3a;
    color: white;
    padding: 50px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

/* Footer About */
.footer-about {
    max-width: 300px;
}

.footer-about p {
    font-size: 14px;
    line-height: 1.6;
}

/* Social Icons */
.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}

.social-icons a:hover {
    color: #ff4d4d;
}

/* Footer Links */
.footer-links {
    max-width: 200px;
}

.footer-links h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-links ul li a:hover {
    color: #ff4d4d;
}

/* Instagram Grid */
.footer-instagram {
    max-width: 200px;
}

.footer-instagram h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
}

.insta-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.insta-grid img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}