* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-size: 1.8rem;
    color: #333;
}


nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav li {
    padding: 10px 14px;
    border-radius: 34px;
}

nav li:hover{
    background: #AD343E;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
}